.rm-app {
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-color: #b9c5dd;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}